<div style = "width:80%; float:left; height:100%; overflow-y: auto; display:block;" class = panel panel-default> 
         <div class="panel-heading">
           <h3 class="panel-title">Going On!</h3>
         </div>

        <div class = panel-body> =D 
        

	<%= link_to 'My Blog', controller: 'articles' %>
        Lorem ipsum dolor sit amet, vis ea quod iusto fuisset, an ius illum postea quodsi. Id vim esse tation, pro id tota harum expetendis. Ea nam noster nostro, nostrud deleniti elaboraret cu vim. Duo quod putant definitiones an. Mel ad sint dolorem, eum inani dictas et.

Modus dicam eu mei. Ad est clita audiam scaevola, et ius vivendum platonem. Dignissim urbanitas et eum, per ex intellegat definiebas. Ei velit nominati adversarium cum, vis id antiopam repudiandae.

Postea alterum alienum an sed, dico prima soleat nam ex, in illud atomorum eam. Cum ut affert option legendos, modus debet gloriatur sit an. Vel in legere libris concludaturque. Vis eu duis decore laoreet. Id aliquid explicari delicatissimi qui.

No mei tantas vocibus. Ignota percipitur nec in, cu integre sadipscing quo. Eum viderer euripidis persecuti at, legendos hendrerit evertitur usu ei, fugit affert fastidii sit in. Ubique facilisi dissentiet eos an.

Illud feugiat at vix, mel no maiorum convenire, id sale docendi ius. Iracundia maiestatis an vix, ex vero semper sea. Ne duis denique interpretaris duo, te pro dicant ponderum delicata, nominavi splendide ne sea. Laboramus abhorreant eu cum. Mundi viris conclusionemque mel eu. Ad ubique sanctus noluisse nec, novum saperet contentiones mel cu.
      
Lorem ipsum dolor sit amet, vis ea quod iusto fuisset, an ius illum postea quodsi. Id vim esse tation, pro id tota harum expetendis. Ea nam noster nostro, nostrud deleniti elaboraret cu vim. Duo quod putant definitiones an. Mel ad sint dolorem, eum inani dictas et.

Modus dicam eu mei. Ad est clita audiam scaevola, et ius vivendum platonem. Dignissim urbanitas et eum, per ex intellegat definiebas. Ei velit nominati adversarium cum, vis id antiopam repudiandae.

Postea alterum alienum an sed, dico prima soleat nam ex, in illud atomorum eam. Cum ut affert option legendos, modus debet gloriatur sit an. Vel in legere libris concludaturque. Vis eu duis decore laoreet. Id aliquid explicari delicatissimi qui.

No mei tantas vocibus. Ignota percipitur nec in, cu integre sadipscing quo. Eum viderer euripidis persecuti at, legendos hendrerit evertitur usu ei, fugit affert fastidii sit in. Ubique facilisi dissentiet eos an.

Illud feugiat at vix, mel no maiorum convenire, id sale docendi ius. Iracundia maiestatis an vix, ex vero semper sea. Ne duis denique interpretaris duo, te pro dicant ponderum delicata, nominavi splendide ne sea. Laboramus abhorreant eu cum. Mundi viris conclusionemque mel eu. Ad ubique sanctus noluisse nec, novum saperet contentiones mel cu.
      Lorem ipsum dolor sit amet, vis ea quod iusto fuisset, an ius illum postea quodsi. Id vim esse tation, pro id tota harum expetendis. Ea nam noster nostro, nostrud deleniti elaboraret cu vim. Duo quod putant definitiones an. Mel ad sint dolorem, eum inani dictas et.

Modus dicam eu mei. Ad est clita audiam scaevola, et ius vivendum platonem. Dignissim urbanitas et eum, per ex intellegat definiebas. Ei velit nominati adversarium cum, vis id antiopam repudiandae.

Postea alterum alienum an sed, dico prima soleat nam ex, in illud atomorum eam. Cum ut affert option legendos, modus debet gloriatur sit an. Vel in legere libris concludaturque. Vis eu duis decore laoreet. Id aliquid explicari delicatissimi qui.

No mei tantas vocibus. Ignota percipitur nec in, cu integre sadipscing quo. Eum viderer euripidis persecuti at, legendos hendrerit evertitur usu ei, fugit affert fastidii sit in. Ubique facilisi dissentiet eos an.

Illud feugiat at vix, mel no maiorum convenire, id sale docendi ius. Iracundia maiestatis an vix, ex vero semper sea. Ne duis denique interpretaris duo, te pro dicant ponderum delicata, nominavi splendide ne sea. Laboramus abhorreant eu cum. Mundi viris conclusionemque mel eu. Ad ubique sanctus noluisse nec, novum saperet contentiones mel cu.
      Lorem ipsum dolor sit amet, vis ea quod iusto fuisset, an ius illum postea quodsi. Id vim esse tation, pro id tota harum expetendis. Ea nam noster nostro, nostrud deleniti elaboraret cu vim. Duo quod putant definitiones an. Mel ad sint dolorem, eum inani dictas et.

Modus dicam eu mei. Ad est clita audiam scaevola, et ius vivendum platonem. Dignissim urbanitas et eum, per ex intellegat definiebas. Ei velit nominati adversarium cum, vis id antiopam repudiandae.

Postea alterum alienum an sed, dico prima soleat nam ex, in illud atomorum eam. Cum ut affert option legendos, modus debet gloriatur sit an. Vel in legere libris concludaturque. Vis eu duis decore laoreet. Id aliquid explicari delicatissimi qui.

No mei tantas vocibus. Ignota percipitur nec in, cu integre sadipscing quo. Eum viderer euripidis persecuti at, legendos hendrerit evertitur usu ei, fugit affert fastidii sit in. Ubique facilisi dissentiet eos an.

Illud feugiat at vix, mel no maiorum convenire, id sale docendi ius. Iracundia maiestatis an vix, ex vero semper sea. Ne duis denique interpretaris duo, te pro dicant ponderum delicata, nominavi splendide ne sea. Laboramus abhorreant eu cum. Mundi viris conclusionemque mel eu. Ad ubique sanctus noluisse nec, novum saperet contentiones mel cu.
        
        </div>    
      </div>
